@import "tailwindcss";

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('./assets/fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-gilroy: 'Gilroy', sans-serif;
  --font-gilroy-light: 'Gilroy-Light', sans-serif;
}