@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url('./assets/fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-gilroy: 'Gilroy', sans-serif;
  --font-gilroy-light: 'Gilroy-Light', sans-serif;
  --font-inter: 'Inter', sans-serif;
}
@keyframes ring {
  0%, 100% { transform: rotate(0deg); }
  10%, 30%, 50% { transform: rotate(-5deg); }
  20%, 40% { transform: rotate(5deg); }
}

.animate-ring {
  animation: ring 1.5s ease-in-out infinite;
}
